.identity-container {
    .identity {
      &__list{
        
      }
      &__item{
        display: inline-block;
      }
      &__link{
        font-size: 1rem;
        font-family: NotoSans-Regular;
        color: #a9a9a9;
      }
    }
  }
  .version-container {
    font-size: 1rem;
    font-family: NotoSans-Regular;
    color: #a9a9a9;
    span{
      color: #a9a9a9;
    }
  }